@import "compass/css3/transition";
@import "compass/css3/transform";

@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);

$lightblue-color: #A5E7FF;
$blue-color: #72D0F4;
$darkblue-color: #1C9CCD;
$red-color: #FF8A71;
$green-color: #22E36A;
$item-bg-color: #FCFCFC;

* {
	outline: none;
}
body {
	font-family: 'Raleway', Arial, sans-serif;
	color: $darkblue-color;
	background: $blue-color;
}

.left {
	float: left;
}

.right {
	float: right;
}

i.fa {
	color: $lightblue-color;

	.taken & {
		color: white;
	}
}

form {
	text-align: center;
}

.phones {
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
	margin-bottom: 100px;

	> li {
		float: left;
		width: calc(25% - 40px);
		height: 250px;
		list-style-type: none;
		margin: 10px;
		padding: 10px;
		background: $item-bg-color;
		text-align: center;
		position: relative;
		overflow: hidden;

		-webkit-perspective: 1000px;
		perspective: 1000px;
		transform-style: preserve-3d;

		&:hover {
			// transform: rotateY(180deg);
		}

		button {
			background: lighten($lightblue-color, 8%);
			color: $darkblue-color;
		}
	}
}

.toplist, .stats {
	transition: 0.5s;
	backface-visibility: hidden;

	position: absolute;
	background: $darkblue-color;
	top: -100px;
	bottom: 0;
	padding: 10px;
	width: 220px;

	h3 {
		color: white;
	}

	.show:hover & {
		transform: rotateY(0deg);
	}
}

.toplist {
	right: 0;
	transform-origin: 100% 0%;
	transform: rotateY(180deg);
}

.stats {
	left: 0;
	transform-origin: 0% 50%;
	transform: rotateY(-180deg);
}

.extra {
	transition: 0.5s;
	transform: rotateX(180deg);
	transform-origin: 50% 100%;
	backface-visibility: hidden;

	z-index: 9999;
	padding-bottom: 30px;
	font-size: 0.7em;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: $darkblue-color;
	color: white;
	text-align: left;

	-webkit-perspective: 1000px;
	perspective: 1000px;
	transform-style: preserve-3d;

	.scroll {
		overflow: auto;
		height: 100%;
		padding: 10px;
		padding-bottom: 0;
	}

	.chart {
		padding: 10px;
		transition: 0.5s;
		transform: rotateX(-180deg);
		transform-origin: 50% 100%;
		backface-visibility: hidden;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		background: darken($darkblue-color, 3%);
	}

	.chartinfo {
		position: absolute;
		bottom: 0px;
		left: 0px;
		right: 0;
		overflow: visible;
		width: 100%;
		line-height: 20px;
		text-align: center;

		&:hover .chart {
			transform: rotateX(0deg);
		}
	}

	.meerinfo:hover & {
		transform: rotateX(0deg);
	}

	table {
		margin: 0;
		padding: 0;
		width: 100%;
		border-collapse: collapse;

		tr:first-child {
			background: none !important;
			border-bottom: 1px solid darken($darkblue-color, 5%);
			font-size: 10px;

			th {
				margin: 0 5px;
				padding: 0 5px;
			}
		}

		tr {
			&:nth-child(odd) {
				background: transparentize($lightblue-color, 0.8);
			}

			td {
				margin: 5px;
				padding: 5px
			}
		}
	}
}

.fyi {
	font-size: 0.5em;
	color: white;
	font-weight: normal;
	font-style: italic;
}

.right {
	float: right;
}


.taken {
	background: transparentize($item-bg-color, .5) !important;

	.phone {
		opacity: 0.4;
	}
}

img {
	height: 150px;
	width: auto;
	margin: 10px;
}

label {
	font-weight: bold;
	text-align: center;
	display: block;
}

input, button {
	border: none;
	font-family: 'Raleway', Arial, sans-serif;
	font-size: 1.0em;
	background: $lightblue-color;
	color: $darkblue-color;
	margin: 10px;
	padding: 0.5em;
}

button {
	background: darken($darkblue-color, 10%);
	color: $lightblue-color;
}

.ribbon {
	background: $red-color;
	color: #FFF;
	font-weight: bold;
	position: absolute;
	@include transform(rotate(45deg));
	@include transition(.4s ease-in-out all);
	top: 25px;
	right: -40px;
	width: 90px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 40px;

	.inner {
		font-size: 0.8em;
		color: rgba(255,255,255,0.7);
		font-weight: normal;
	}

	.fa {
		color: rgba(255,255,255,0.7);
	}

	li:hover & {
		top: 60px;
		right: -60px;
		width: 190px;
	}
}

.preferences {
	background: $darkblue-color;
	color: white;
	@include transform(translateY(-300px));
	@include transition(.4s ease-in-out transform);

	&.active {
		@include transform(translateY(0px));
	}
}

.message {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 30px;
	background: $green-color;
	color: white;
	
	i {
		margin-left: 20px;
	}

	@include transform(translateY(-300px));
	@include transition(.4s ease-in-out transform);

	&.active {
		@include transform(translateY(0px));
	}
}

.taken.fa-plug {
	color: $darkblue-color;
}

nav {
	position: absolute;
	top: 0;
	right: 0;

	.fa {
		color: white;
		margin: 30px;
		margin-left: 0;
	}

	input {
		position: relative;
		top: -5px;
	}
}

section {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 20px;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background: lighten($darkblue-color, 10%);
	padding: 20px;
	-webkit-perspective: 1000px;
}

@media only screen 
and (max-width : 550px) {
	.fyi {
		display: none;
	}

	.phones > li {
		width: calc(50% - 40px);
	}
}

@media only screen 
and (min-width : 550px) 
and (max-width : 768px) {
	.fyi {
		display: none;
	}

	.phones > li {
		width: calc(33.3% - 40px);
	}
}

@media only screen 
and (min-width : 768px) 
and (max-width : 1024px) {
	.phones > li {
		width: calc(25% - 40px);
	}
}

@media only screen 
and (min-width : 1024px) {
	.phones > li {
		width: calc(20% - 40px);
	}
}

@media only screen 
and (min-width : 1650px) {
	.phones > li {
		width: calc(12.5% - 40px);
	}
}