@import url(http://fonts.googleapis.com/css?family=Raleway:300,400,700);
/* line 13, ../../sass/style.scss */
* { outline: none; }

/* line 16, ../../sass/style.scss */
body { font-family: 'Raleway', Arial, sans-serif; color: #1c9ccd; background: #72d0f4; }

/* line 22, ../../sass/style.scss */
.left { float: left; }

/* line 26, ../../sass/style.scss */
.right { float: right; }

/* line 30, ../../sass/style.scss */
i.fa { color: #a5e7ff; }
/* line 33, ../../sass/style.scss */
.taken i.fa { color: white; }

/* line 38, ../../sass/style.scss */
form { text-align: center; }

/* line 42, ../../sass/style.scss */
.phones { display: block; overflow: hidden; margin: 0; padding: 0; margin-bottom: 100px; }
/* line 49, ../../sass/style.scss */
.phones > li { float: left; width: calc(25% - 40px); height: 250px; list-style-type: none; margin: 10px; padding: 10px; background: #fcfcfc; text-align: center; position: relative; overflow: hidden; -webkit-perspective: 1000px; perspective: 1000px; transform-style: preserve-3d; }
/* line 69, ../../sass/style.scss */
.phones > li button { background: #cef2ff; color: #1c9ccd; }

/* line 76, ../../sass/style.scss */
.toplist, .stats { transition: 0.5s; backface-visibility: hidden; position: absolute; background: #1c9ccd; top: -100px; bottom: 0; padding: 10px; width: 220px; }
/* line 87, ../../sass/style.scss */
.toplist h3, .stats h3 { color: white; }
/* line 91, ../../sass/style.scss */
.show:hover .toplist, .show:hover .stats { transform: rotateY(0deg); }

/* line 96, ../../sass/style.scss */
.toplist { right: 0; transform-origin: 100% 0%; transform: rotateY(180deg); }

/* line 102, ../../sass/style.scss */
.stats { left: 0; transform-origin: 0% 50%; transform: rotateY(-180deg); }

/* line 108, ../../sass/style.scss */
.extra { transition: 0.5s; transform: rotateX(180deg); transform-origin: 50% 100%; backface-visibility: hidden; z-index: 9999; padding-bottom: 30px; font-size: 0.7em; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: #1c9ccd; color: white; text-align: left; -webkit-perspective: 1000px; perspective: 1000px; transform-style: preserve-3d; }
/* line 130, ../../sass/style.scss */
.extra .scroll { overflow: auto; height: 100%; padding: 10px; padding-bottom: 0; }
/* line 137, ../../sass/style.scss */
.extra .chart { padding: 10px; transition: 0.5s; transform: rotateX(-180deg); transform-origin: 50% 100%; backface-visibility: hidden; position: absolute; bottom: 0; left: 0; right: 0; background: #1a92c0; }
/* line 150, ../../sass/style.scss */
.extra .chartinfo { position: absolute; bottom: 0px; left: 0px; right: 0; overflow: visible; width: 100%; line-height: 20px; text-align: center; }
/* line 160, ../../sass/style.scss */
.extra .chartinfo:hover .chart { transform: rotateX(0deg); }
/* line 165, ../../sass/style.scss */
.meerinfo:hover .extra { transform: rotateX(0deg); }
/* line 169, ../../sass/style.scss */
.extra table { margin: 0; padding: 0; width: 100%; border-collapse: collapse; }
/* line 175, ../../sass/style.scss */
.extra table tr:first-child { background: none !important; border-bottom: 1px solid #198bb7; font-size: 10px; }
/* line 180, ../../sass/style.scss */
.extra table tr:first-child th { margin: 0 5px; padding: 0 5px; }
/* line 187, ../../sass/style.scss */
.extra table tr:nth-child(odd) { background: rgba(165, 231, 255, 0.2); }
/* line 191, ../../sass/style.scss */
.extra table tr td { margin: 5px; padding: 5px; }

/* line 199, ../../sass/style.scss */
.fyi { font-size: 0.5em; color: white; font-weight: normal; font-style: italic; }

/* line 206, ../../sass/style.scss */
.right { float: right; }

/* line 211, ../../sass/style.scss */
.taken { background: rgba(252, 252, 252, 0.5) !important; }
/* line 214, ../../sass/style.scss */
.taken .phone { opacity: 0.4; }

/* line 219, ../../sass/style.scss */
img { height: 150px; width: auto; margin: 10px; }

/* line 225, ../../sass/style.scss */
label { font-weight: bold; text-align: center; display: block; }

/* line 231, ../../sass/style.scss */
input, button { border: none; font-family: 'Raleway', Arial, sans-serif; font-size: 1.0em; background: #a5e7ff; color: #1c9ccd; margin: 10px; padding: 0.5em; }

/* line 241, ../../sass/style.scss */
button { background: #167aa0; color: #a5e7ff; }

/* line 246, ../../sass/style.scss */
.ribbon { background: #ff8a71; color: #FFF; font-weight: bold; position: absolute; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition: 0.4s ease-in-out all; -moz-transition: 0.4s ease-in-out all; -o-transition: 0.4s ease-in-out all; transition: 0.4s ease-in-out all; top: 25px; right: -40px; width: 90px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 40px; }
/* line 261, ../../sass/style.scss */
.ribbon .inner { font-size: 0.8em; color: rgba(255, 255, 255, 0.7); font-weight: normal; }
/* line 267, ../../sass/style.scss */
.ribbon .fa { color: rgba(255, 255, 255, 0.7); }
/* line 271, ../../sass/style.scss */
li:hover .ribbon { top: 60px; right: -60px; width: 190px; }

/* line 278, ../../sass/style.scss */
.preferences { background: #1c9ccd; color: white; -webkit-transform: translateY(-300px); -moz-transform: translateY(-300px); -ms-transform: translateY(-300px); -o-transform: translateY(-300px); transform: translateY(-300px); -webkit-transition: 0.4s ease-in-out transform; -moz-transition: 0.4s ease-in-out transform; -o-transition: 0.4s ease-in-out transform; transition: 0.4s ease-in-out transform; }
/* line 284, ../../sass/style.scss */
.preferences.active { -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }

/* line 289, ../../sass/style.scss */
.message { position: fixed; top: 0; left: 0; right: 0; padding: 30px; background: #22e36a; color: white; -webkit-transform: translateY(-300px); -moz-transform: translateY(-300px); -ms-transform: translateY(-300px); -o-transform: translateY(-300px); transform: translateY(-300px); -webkit-transition: 0.4s ease-in-out transform; -moz-transition: 0.4s ease-in-out transform; -o-transition: 0.4s ease-in-out transform; transition: 0.4s ease-in-out transform; }
/* line 298, ../../sass/style.scss */
.message i { margin-left: 20px; }
/* line 305, ../../sass/style.scss */
.message.active { -webkit-transform: translateY(0px); -moz-transform: translateY(0px); -ms-transform: translateY(0px); -o-transform: translateY(0px); transform: translateY(0px); }

/* line 310, ../../sass/style.scss */
.taken.fa-plug { color: #1c9ccd; }

/* line 314, ../../sass/style.scss */
nav { position: absolute; top: 0; right: 0; }
/* line 319, ../../sass/style.scss */
nav .fa { color: white; margin: 30px; margin-left: 0; }
/* line 325, ../../sass/style.scss */
nav input { position: relative; top: -5px; }

/* line 331, ../../sass/style.scss */
section { position: absolute; top: 0; right: 0; left: 0; padding: 20px; }

/* line 339, ../../sass/style.scss */
footer { position: fixed; bottom: 0; left: 0; right: 0; background: #38b4e4; padding: 20px; -webkit-perspective: 1000px; }

@media only screen and (max-width: 550px) { /* line 351, ../../sass/style.scss */
  .fyi { display: none; }
  /* line 355, ../../sass/style.scss */
  .phones > li { width: calc(50% - 40px); } }
@media only screen and (min-width: 550px) and (max-width: 768px) { /* line 363, ../../sass/style.scss */
  .fyi { display: none; }
  /* line 367, ../../sass/style.scss */
  .phones > li { width: calc(33.3% - 40px); } }
@media only screen and (min-width: 768px) and (max-width: 1024px) { /* line 375, ../../sass/style.scss */
  .phones > li { width: calc(25% - 40px); } }
@media only screen and (min-width: 1024px) { /* line 382, ../../sass/style.scss */
  .phones > li { width: calc(20% - 40px); } }
@media only screen and (min-width: 1650px) { /* line 389, ../../sass/style.scss */
  .phones > li { width: calc(12.5% - 40px); } }
