<!DOCTYPE html>
<html ng-app="iTook" ng-controller="phoneController">
<head>
	<title>iTook</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width,maximum-scale=1,minimum-scale=1,user-scalable=no">

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.2.26/angular-cookies.min.js"></script>
	<script src="js/angular/pusher-angular.min.js"></script>
	<script src="js/angular/socket.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.3/moment.min.js"></script>
	<script src="js/angular/angular-google-chart/ng-google-chart.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" href="css/style.css">
	<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	
</head>
<body>
	<h1>iTook <span class="fyi">Test device tracking FTW</span></h1>

	<form>
		<ul class="phones">
			<li ng-repeat="phone in filtered = (phones | filter:searchQuery)" ng-class="{taken: phone.status == 'taken'}">
				<div class="phone">
					<label>{{phone.name}}</label>
					<img ng-src="{{phone.img}}" alt="" ng-show="phone.img">
					<img src="default.png" alt="" ng-hide="phone.img">
				</div>
				<div ng-show="username != usernameDefault">
					<span class="plug" ng-show="phone.status == 'available'">
						<i class="fa fa-plug" ng-class="phone.cable"></i> <input type="checkbox" ng-model="phone.cable" ng-true-value="'taken'" ng-false-value="'available'">
					</span>
					<button ng-show="phone.status == 'available'" ng-click="takePhone(phone.id)">nemen</button>
					<span ng-show="phone.status == 'taken'">
						<button ng-show="phone.takenBy[0].name == username" ng-click="returnPhone(phone.id)">terugleggen</button>
					</span>
					<a href="#">
						<i class="fa fa-info meerinfo" >
							<div class="extra" ng-show="phone.takenBy[0].name">
								<div class="scroll">									
									<table>
										<tr>
											<th>naam</th>
											<th>uit</th>
											<th>in</th>
										</tr>
										<tr ng-repeat="person in phone.takenBy">
											<td><strong>{{person.name}}</strong></td>
											<td>
												{{formatTime(person.timestamp_out)}}
											</td>
											<td>
												{{formatTime(person.timestamp_in)}}
											</td>
											<td>
												<i class="fa fa-plug" ng-show="person.cable == 'taken'"></i>
											</td>
										</tr>
									</table>
								</div>

								<i class="fa fa-area-chart chartinfo" ng-mouseover="setChartForId(phone.id)">
									<div class="chart" google-chart chart="chartObject"></div>
								</i>
							</div>
						</i>
					</a>
				</div>
				<div class="ribbon" ng-show="phone.status == 'taken'">
					{{phone.takenBy[0].name}} <i class="fa fa-plug" ng-show="phone.takenBy[0].cable == 'taken'"></i>
					<div ng-show="phone.takenBy[0].location" class="inner">
						@ {{phone.takenBy[0].location}}
					</div>
				</div>
			</li>
			<li ng-show="filtered.length == 0">Niets gevonden :(</li>
		</ul>
		<footer>
			<button ng-click="savePhones()">OPSLAAN</button>
			<button ng-click="getPhones()">RESET</button>

			<a href="#" class="left">
				<i class="fa fa-bar-chart show">
					<div class="stats">
						<h3>Stats</h3>
						<b>{{totalDevices}}</b> toestellen <br>
						<b>{{totalTesters}}</b> gebruikers <br>
						<b>{{totalTooks}}</b> uitleningen <br>			
					</div>
				</i>
			</a>

			<a href="#" class="right">
				<i class="fa fa-list-ol show">
					<div class="toplist">
						<h3>Top 5</h3>
						<div ng-repeat="user in users">
							{{$index+1}}. <b>{{user.name}}</b> ({{user.loans}})
						</div>
					</div>
				</i>
			</a>
		</footer>
	</form>
	
	<section class="message" ng-class="{active: msg}">
		<i class="fa fa-info-circle"></i> &nbsp;&nbsp;&nbsp;{{msg}}
	</section>
	<section class="preferences" ng-class="{active: show == 'preferences'}">
		<div ng-show="username == usernameDefault">
			<h1>Hallo!</h1>
			<p>
				Met iTook kan je test devices tracken en bijhouden wie welk toestel heeft meegenomen.
			</p>
			<p>
				Gelieve eerst jouw gegevens in te vullen alvorens door te gaan!
			</p>
			<br>
		</div>
		<input type="text" ng-model="username" ng-click="clear($event)">
		<input type="text" ng-model="location" ng-click="clear($event)">
		<button ng-click="savePreferences()">OPSLAAN</button>
	</section>
	
	<nav>
		<a href="#" class="right" ng-click="showPanel('preferences')" ng-class="{active: show == 'preferences'}">
			<i class="fa fa-cog fa-2x"></i>
		</a>
		<input type="text" value="zoeken" ng-show="show == 'search'" ng-model="searchQuery">
		</div>
		<a href="#" ng-click="showPanel('search')">
			<i class="fa fa-search fa-2x"></i>			
		</a>
	</nav>

</body>
</html>